
/* for phone */ 
@media (max-width: 599px) {
    .filter-options {
        height: 80px;
    }
    .filter-options h2 {
        padding-top: 10px;
        text-align: center;
    }
    .filter-options select {
        font-size: 10pt;
        margin-left: 20px;
        margin-top: 5px;
        width: 150px;
    }
    #restaurants-list {
        padding: 0px 15px 60px;
    }
    #restaurants-list li {
        width: 90%;  
    }
    #restaurants-list li a {
        margin-top: 15px;
    }
}