.main-container {
    display: flex;
    flex-wrap: wrap;
}

/* for phone */ 
@media (max-width: 599px) {
    .inside #map-container {
        width: 90%;
        height: 175px;
        margin: 50px 0 250px 0;
        position:absolute;
        top: 7%;
        right: 5%;
        left: 5%;
    }
    #restaurant-container {
        width: 80%;
        background: #ddd;
        margin-top: 212px;
    }
    #reviews-container {
        width: 80%;
        background: #ddd;
    }
    #breadcrumb {
        width: 60%;
    }
    #restaurant-name {
        font-size: 16pt;
        margin-top: 60px;
    }
    #reviews-list li {
        padding: 18px 6px 20px;
    }
    .inside #footer {
        width: 84%;
    }
}

/* for tablet landscape view */
@media (min-width: 750px) and (max-width: 1199px){
    #reviews-list li {
        width: 77%;
    }
    nav h1 a {
        font-size: 40px;
        margin-left: 15px;
    }
    nav h1 {
        padding-top: 1vw;
        margin-left: -110px;
    }
    #breadcrumb {
        width: 30%;
    }
    #breadcrumb {
        margin: 0;
        height: 16px;
    }
    #restaurant-name {
        font-size: 16pt;
    }
}

/* for desktop */
@media (min-width: 1200px) {
    #restaurant-name {
        font-weight: bold;
    }
    #reviews-container h2 {
        font-weight: bold;
    }
    #breadcrumb {
        margin: 0;
    }
    nav h1 a {
        font-size: 60px;
        margin-left: 140px;
    }
    nav h1 {
        margin-left: -110px;
    }
    #reviews-list li {
        width: 80%;
    }
    #restaurant-cuisine {
        width: 140%;
    }
    #restaurant-img {
        width: 140%;
    }
}