
/* for phone */ 
@media (max-width: 599px) {
    .filter-options {
        height: 120px;
    }
    .filter-options h2 {
        padding-top: 10px;
        text-align: center;
    }
    .filter-options select {
        font-size: 10pt;
        margin-top: 5px;
        width: 90%;
        margin-left: 5vw;
    }
    #restaurants-list {
        padding: 0px 15px 60px;
    }
    #restaurants-list li {
        width: 90%;  
    }
    #restaurants-list li a {
        margin-top: 15px;
    }
}

/* for tablet portrait view */
@media (max-width: 900px) {

}

/* for desktop */
@media (max-width: 1200px) {
    
}