
/* for phone */ 
@media (max-width: 599px) {
    nav h1 a {
        font-size: 28px;
    }
    nav h1 {
        padding-top: 3vw;
      }
    .filter-options {
        height: 120px;
    }
    .filter-options h2 {
        padding-top: 10px;
        text-align: center;
    }
    .filter-options select {
        font-size: 10pt;
        margin-top: 5px;
        width: 90%;
        margin-left: 5vw;
    }
    #restaurants-list {
        padding: 0px 15px 60px;
    }
    #restaurants-list li {
        width: 90%;  
    }
    #restaurants-list li a {
        margin-top: 15px;
    }
    #restaurant-container {
        width: 100%;
    }
    body,td,th,p{
        font-size: 14pt;
    }
}

/* for tablet landscape view */
@media (min-width: 900px) {
    nav h1 a {
        font-size: 40px;
    }
    nav h1 {
        padding-top: 1vw;
      }
    .filter-options {
        height: 130px;
    }
    .filter-options h2 {
        font-size: 25px;
    }
    .filter-options select {
        font-size: 15pt;
        margin-top: 5px;
        width: 90%;
        margin-left: 5vw;
    }
    #restaurants-list li {
        width: 92vw;  
    }
    #restaurants-list li h1 {
        font-size: 24px;
    }
    #restaurants-list p {
        font-size: 18px;
    }
    #restaurants-list {
        padding-top: 0;
    }
    #restaurants-list li a {
        font-size: 18px;
    }
}

/* for desktop */
@media (min-width: 1200px) {
    .filter-options h2 {
        font-size: 35px;
        float: left;
    }
    .filter-options select {
        width: 30vw;
        height: 5vw;
        padding: 0px 20px;
    }
    .filter-options {
        height: 90px;
        padding-top: 20px;
    }
    #restaurants-list li h1 {
        font-size: 48px;
    }
    #restaurants-list p {
        font-size: 20px;
    }
    #restaurants-list li a {
        font-size: 30px;
    }
}