.main-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
}

/* for phone */ 
@media (max-width: 599px) {
    .map-section {
        width: 200%;
    }
    .filter-section {
        width: 250%;
    }
    #map {
        width: 120%;
    }
    nav {
        width: 240%;
      }
    nav h1 a {
        font-size: 30px;
        margin-left: 140px;
    }
    nav h1 {
        margin-left: -140px;
        padding-top: 12px;
    }
    .filter-options {
        height: 120px;
    }
    .filter-options h2 {
        padding-top: 10px;
        text-align: center;
    }
    .filter-options select {
        font-size: 10pt;
        margin-top: 5px;
        width: 85%;
        margin-left: 45px;
    }
    #restaurants-list li {
        width: 235%;  
        margin-left: 25px;
    }
    #restaurants-list li a {
        margin-top: 15px;
    }
    #restaurants-list li h1 {
        font-size: 25px;
    }
    #restaurant-container {
        width: 100%;
    }
    body,td,th,p{
        font-size: 14pt;
    }
}

/* for tablet landscape view */
@media (min-width: 900px) and (max-width: 1199px){
    .top-box {
        display: flex;
        flex-direction: row;  
        width: 100%; 
    }
    .map-section {
        width: 50%;
    }
    .filter-section {
        width: 30%;
    }
    #restaurants-list li{
        width: 45%;
        display: inline-block;
    }
    #restaurants-list {
        margin-left: 10px;
        margin-right: 50px;
    }
    nav h1 a {
        font-size: 40px;
    }
    nav h1 {
        padding-top: 1vw;
      }
    .filter-options {
        height: 400px;
        width: 100%;
        margin-left: -10px;
    }
    .filter-options h2 {
        padding-top: 4vw;
        font-size: 40px;
        margin-left: -5px;
    }
    .filter-options select {
        font-size: 25px;
        margin-top: 30px;
        width: 72%;
        margin-left: 5vw;
        height: 13vw;
    }
    #restaurant-container {
        display: flex;
        padding-top: 0;
    }
    #restaurants-list .restaurant-img {
        width: 40%;
        height: 40%;
    }
}

/* for desktop */
@media (min-width: 1200px) {
    .top-box {
        display: flex;
        flex-direction: row-reverse;  
        width: 100%; 
    }
    .map-section {
        width: 100%;
    }
    .filter-section {
        width: 100%;
    }
    nav h1 {
        margin-left: -300px;
    }
    nav h1 a {
        font-size: 60px;
        margin-left: 240px;
    }
    .filter-options h2 {
        font-size: 40px;
    }
    .filter-options select {
        font-size: 25px;
        margin-top: 30px;
        width: 70%;
        margin-left: 5vw;
        height: 10vw;
    }
    .filter-options {
        height: 100%;
        padding-top: 20px;
    }
    #restaurant-list {
        text-align: left;
        margin-left: 50px;
        margin-top: 30px;
        padding: 0 0 0;
    }
    #restaurants-list li h1 {
        font-size: 16px;
        font-weight: bold;
    }
    #restaurants-list p {
        font-size: 20px;
    }
    #restaurants-list li a {
        font-size: 20px;
    }
    #restaurants-list li {
        width: 20%;
        display: inline-block;
    }
}