.main-container {
    display: flex;
    flex-wrap: wrap;
}

/* for phone */ 
@media (max-width: 599px) {
    #reviews-container {
        width: 599px;
        display: flex;
        flex-grow: 1;
    }
    nav h1 a {
        font-size: 28px;
        margin-left: -70px;
    }
    nav h1 {
        padding-top: 3vw;
    }
    #restaurant-name {
        font-size: 12pt;
        font-weight: bold;
    }
    #restaurant-img {
        width: 90%;
    }
    #restaurant-container {
        width: 190%;
        margin-left: 20px;
    }
    .inside #map-container {
        width: 50%;
        height: 200px;
        position: absolute;
        margin-top: 600px;
        margin-right: -175px;
    }
    .inside #map {
        width: 200%;
    }
    #reviews-list li {
        width: 70%;
        margin-left: 20px;
    }
    #reviews-container h2 {
        font-size: 14pt;
        font-weight: bold;
    }
    #breadcrumb {
        width: calc(50% - 135px);
    }
}

/* for tablet landscape view */
@media (min-width: 750px) and (max-width: 1199px){
    #reviews-list li {
        width: 77%;
    }
    nav h1 a {
        font-size: 48px;
        margin-left: 95px;
    }
    nav h1 {
        padding-top: 1vw;
        margin-left: -110px;
    }
    #breadcrumb {
        width: 30%;
    }
    #breadcrumb {
        margin: 0;
        height: 16px;
    }
    #restaurant-name {
        font-size: 16pt;
    }
}

/* for desktop */
@media (min-width: 1200px) {
    #restaurant-name {
        font-weight: bold;
    }
    #reviews-container h2 {
        font-weight: bold;
    }
    #breadcrumb {
        margin: 0;
    }
    nav h1 a {
        font-size: 60px;
    }
    nav h1 {
        margin-left: -110px;
    }
}